on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
      version: ${{ steps.release.outputs.version }}
    steps:
      - id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: .github/release-please-config.json
          manifest-file: .github/release-please-manifest.json

  release-artifacts:
    needs: [release-please]
    if: ${{ needs.release-please.outputs.release_created == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      release_name: ${{ steps.event_details.outputs.release_name }}
      tag_name: ${{ steps.event_details.outputs.tag_name }}
      version: ${{ steps.event_details.outputs.version }}
    steps:
      - name: Check event details
        id: event_details
        env:
          RELEASE_NAME: ${{ needs.release-please.outputs.tag_name }}
          TAG_NAME: ${{ needs.release-please.outputs.tag_name }}
        run: |
          echo "release_name=${RELEASE_NAME}" >> $GITHUB_OUTPUT
          echo "tag_name=${TAG_NAME}" >> $GITHUB_OUTPUT
          echo "version=${TAG_NAME##*-v}" >> $GITHUB_OUTPUT
          echo "package_name=${RELEASE_NAME%:*}" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v4
        with:
          submodules: true
          ref: ${{ steps.event_details.outputs.tag_name }}
      - name: Build VSIX and upload to release
        env:
          GITHUB_TOKEN: ${{ github.token }}
          TAG_NAME: ${{ steps.event_details.outputs.tag_name }}
        run: |
          npm ci
          npm run package
          cp observable-js.vsix gordonsmith.observable-js.vsix
          gh release upload ${TAG_NAME} gordonsmith.observable-js.vsix 
          mv observable-js.vsix ${TAG_NAME}.vsix
          gh release upload ${TAG_NAME} ${TAG_NAME}.vsix

  publish-vsce:
    needs: [release-please, release-artifacts]
    if: ${{ needs.release-please.outputs.release_created == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download VSIX asset
        env:
          GITHUB_TOKEN: ${{ github.token }}
          TAG_NAME: ${{ needs.release-artifacts.outputs.tag_name }}
        run: gh release download ${TAG_NAME} --pattern "${TAG_NAME}.vsix"
      - name: Publish to VS Code Marketplace
        env:
          VSCE_PAT: ${{ secrets.VSCE_TOKEN }}
          TAG_NAME: ${{ needs.release-artifacts.outputs.tag_name }}
        run: npx vsce publish --packagePath ${TAG_NAME}.vsix

  publish-ovsx:
    needs: [release-please, release-artifacts, publish-vsce]
    if: ${{ needs.release-please.outputs.release_created == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download VSIX asset
        env:
          GITHUB_TOKEN: ${{ github.token }}
          TAG_NAME: ${{ needs.release-artifacts.outputs.tag_name }}
        run: gh release download ${TAG_NAME} --pattern "${TAG_NAME}.vsix"
      - name: Publish to Open VSX Registry
        env:
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
          TAG_NAME: ${{ needs.release-artifacts.outputs.tag_name }}
        run: npx ovsx publish ${TAG_NAME}.vsix -p ${OVSX_PAT}

  label:
    needs: [publish-ovsx, release-artifacts]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
      repository-projects: read
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Add label to PR
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          PR_NUMBER=$(gh pr list --state merged --label 'autorelease: tagged' --json number --jq '.[0].number')
          gh pr edit ${PR_NUMBER} --add-label 'autorelease: published'

  comments:
    needs: [publish-ovsx, release-artifacts]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: apexskier/github-release-commenter@v1
        with:
          GITHUB_TOKEN: ${{ github.token }}
          comment-template: |
            :tada: This change has been included in ${{ needs.release-artifacts.outputs.tag_name }} :tada:

            The release is available on:
            - GitHub releases: {release_link}
            - VS Code Marketplace: https://marketplace.visualstudio.com/items?itemName=gordonsmith.observable-js
            - Open VSX Registry: https://open-vsx.org/extension/gordonsmith/observable-js

            Your **[release-please](https://github.com/googleapis/release-please)** bot :rocket::pray:
